<div id="<%= dom_id companion %>">
  <p>
    <strong>Name:</strong>
    <%= companion.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= companion.age %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= companion.height %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= companion.bio %>
  </p>

</div>
